body{
    background-color: rgb(104, 203, 225);
    background-image: url(pexels-miguel-á.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font: normal 1rem arial;
}

header{
    text-align: center;

}

section{
    margin: auto;
    background-color: whitesmoke;
    width: 500px;
    height: auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.267);

}

footer{
    margin: auto;
    text-align: center;

}

